<form>
  <div>
    <mat-form-field>
      <mat-label>Número 1</mat-label>
      <input matInput #numero1 placeholder="Digite o primeiro número"/>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Primeiro número da soma</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Número 2</mat-label>
      <input matInput #numero2 placeholder="Digite o segundo número"/>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Segundo número da soma</mat-hint>
    </mat-form-field>
  </div>

  <button type="button"
  color="primary"
  mat-raised-button
  (click)="somarBotao(numero1.value, numero2.value); $event.preventDefault()">
    Somar
  </button>
  <div>
    <input matInput [value]="resultado" readonly/>
  </div>
</form>
